*{
    margin: 0;
    padding: 0;
}
.container{
    height: 350px;
    border: solid red 2px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.card{
    border-radius: 10px;
    border:solid black 1px;
    width: 60%;
    height: 300px;
}

.card img {
    margin-left: 10px;
    padding: 5px;
    width: 90%;
    height: auto;
    border-radius: 10px;
    
  }
  .name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    font-weight: bolder;
  }
  .about{
    font-family: cursive;
    font-size: 10px;
    padding: 10px;
  }