*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #909090;
    height: 1500px;
}
.navbar{
    box-sizing: border-box;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color:  #0089B7;
    height: 50px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.profile{
    height: 200px;
    background-color: #003D62;
}